.my_main {
    background-color: rgb(252, 246, 246);
}

.wrap {
    justify-content:center;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
  
    grid-row-gap: 60px;
    grid-column-gap: 30px;
}

.minicontent {
    margin: 15px;
    padding: 15px;
    border-radius: 20%;
    border-style:solid;
    border-width:1mm;
    background-color: rgb(213, 246, 248);
}

.div {
    display: block;
}

.incom {
    font-weight: bolder;
    color: #542179;
    font-size: 22px;
}
p {
    text-align:center;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 1em;
    margin-inline-start:auto;
    margin-inline-end: 15px;
}
.h1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    font-size: 60px;  
}
.h2 {
    
    color: rgb(0, 0, 0);
    display:flex;
    align-items: flex-start;
    justify-content: flex;
    
    
}
.h1-text {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
}
nav ul li {
    display:inline;
    margin: 0 15px;
    padding: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
header {
    font-size: 20px;
    background-color: rgb(213, 246, 248);
    color: rgb(14, 3, 3);
    padding: 10px O;
    text-align: center;
}
